/*
 *font example
 *font-family: 'Sarina', cursive;
 *font-family: 'Lily Script One', cursive;
 *font-family: 'Source Code Pro', sans-serif;
 */

.source {
  font-family: 'Source Code Pro', sans-serif;
}

.lily {
  font-family: 'Lily Script One', cursive;
}

.lily a {
  color: #000000;
}

body {
  background-color: #dddddd;
}

a:link,visited{
  text-decoration:none;
}
a:hover{
  text-decoration:underline;
}

.container {
  margin-right:auto;
  margin-left:auto;
  margin-top:0;
  *zoom:1
}

#banner {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: block;
  margin-bottom:0px;
  background-color: #3d4349;
}

#zhwei {
  font-size: 150%;
  color: #ffffff;
  float: right;
  margin-top: 0px;
  margin-right:20px;
  font-family: 'Lily Script One', cursive;
}

#zhwei p {
  margin-top: 10px;
  margin-bottom: 10px;
}
#zhwei a {
  color: #ffffff;
}
#zhwei a:link,visited{
  text-decoration:none;
  color: #ffffff;
}
#zhwei a:hover{
  text-decoration:none;
  color: #99ff99;
}

.box {
  border-radius: 3px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.15);
  border-bottom: 1px solid #E2E2E9;
  margin-bottom: 20px;
}

.content {
  margin-top: 90px;
}

.left-part {
  margin-left: 20px;
  float: left;
}

.right-part {
  margin-right: 20px;
  float: right;
}


.span-img {
  display: block;
  background: #ffffff;
  width: 380px;
  height: 500px;
}

.img-3648 {
  width: 360px;
  height: 480px;
  margin: 10px 10px 10px 10px;
  cursor: pointer;
}

.span-sns {
  display: block;
  height: 40px;
  width: 380px;
  background-color: #ffffff;
}
.span-sns p {
  font-size: 200%;
  margin-left: 130px;
}
/*
.span-sns li {
  list-style-type: none;
  display: inline;
}

.span-sns li img {
  width: 32px;
  height: 32px;
}
*/

.white {
  background-color: #ffffff;
  width: 821px;
  height: 1500px;
}

.layer{
  width:620px;
  background:#ffffff;
  position:fixed;
  _position:absolute;    /* 勉强应付 IE6 */
  top:50%;
  right:50%;
  margin:-150px -300px 0 20px;
  display:none;
}
.layer2{
  width:620px;
  background:#ffffff;
  position:fixed;
  _position:absolute;    /* 勉强应付 IE6 */
  top:50%;
  right:50%;
  margin:-150px -300px 0 20px;
  display:none;
}
.img-layer {
  width:600px;
  margin: 10px 10px 10px 10px;
}
.close{
  background-image: url("/img/close.png");
  position:absolute;
  top: -8px;
  right: -8px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  z-index: 8040;
}

.main {
  color: #000033;
}

.about {
  background-color: #99cccc;
}

#swf embed {
  width: 500px;
  height: 500px;
  margin: 20px 20px 20px 20px;
}

#name {
  cursor: pointer;
}
