/*
 *font example
 *font-family: 'Sarina', cursive;
 *font-family: 'Lily Script One', cursive;
 *font-family: 'Source Code Pro', sans-serif;
 */

.lily {
  font-family: 'Lily Script One', cursive;
}

.lily a {
  color: #000000;
}

body {
  background-color: #dddddd;
}

a:link,visited{
  text-decoration:none;
}
a:hover{
  text-decoration:underline;
}

#name {
  cursor: pointer;
}

.container {
  margin-right:auto;
  margin-left:auto;
  margin-top:0;
  *zoom:1
}

#banner {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: block;
  margin-bottom:0px;
  background-color: #3d4349;
}

#zhwei {
  font-size: 150%;
  color: #ffffff;
  float: right;
  margin-top: 0px;
  margin-right:20px;
  font-family: 'Lily Script One', cursive;
}

#zhwei p {
  margin-top: 10px;
  margin-bottom: 10px;
}
#zhwei a {
  color: #ffffff;
}
#zhwei a:link,visited{
  text-decoration:none;
  color: #ffffff;
}
#zhwei a:hover{
  text-decoration:none;
  color: #99ff99;
}

.close{
  background-image: url("../img/close.png");
  position:absolute;
  top: -8px;
  right: -8px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  z-index: 8040;
}


.title {
  font-size: 50px;
  font-family: 'Source Code Pro', sans-serif;
  text-align: center;
}


/* 大屏幕 */
@media (min-width: 1200px) {

  .left-part {
    margin-left: 5px;
    float: left;
  }

  .right-part {
    margin-right: 5px;
    float: right;
  }


  .span-img {
    display: block;
    background: #ffffff;
    width: 380px;
    height: 500px;
  }

  .img-3648 {
    width: 360px;
    height: 480px;
    margin: 10px 10px 10px 10px;
    cursor: pointer;
  }

  .span-sns {
    display: block;
    height: 40px;
    width: 380px;
    background-color: #ffffff;
    margin-bottom: 20px;
    text-align: center;
    font-size: 200%;
  }
  .white {
    background-color: #ffffff;
    width: 790px;
    height: 921px;
  }


  .content {
    margin-top: 90px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .about {
    height: 700px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: -50px;
  }

  .layer{
    width:620px;
    background: #ffffcc;
    position:fixed;
    _position:absolute;    /* 勉强应付 IE6 */
    top:40%;
    right:50%;
    margin:-150px -300px 20px 20px;
    display:none;
  }
  .img-layer {
    width:600px;
    margin: 10px 10px 10px 10px;
  }
  #swf embed {
    width: 500px;
    height: 500px;
    margin: 20px 20px 20px 61px;
  }

}

/* 横向放置的手机及分辨率更小的设备 */
@media (max-width: 480px) {

  .left-part {
  }

  .right-part {
  }


  .span-img {
    display: none;
  }

  .img-3648 {
    width: 360px;
    height: 480px;
    margin: 10px 10px 10px 10px;
    cursor: pointer;
  }

  .span-sns {
    display: block;
    height: 40px;
    background-color: #ffffff;
    /* width: 380px; */
    margin-bottom: 20px;
    text-align: center;
    font-size: 200%;
  }

  .white {
    background-color: #ffffff;
    margin-bottom: 50px;
  }


  .content {
    margin-top: 90px;
    width: 480;
    margin-left:auto;
    margin-right:auto;
  }

  .about {
    margin-left: 16px;
    margin-right: 16px;
  }

  .layer{
    width:320px;
    background: #ffffcc;
    position:fixed;
    _position:absolute;    /* 勉强应付 IE6 */
    top: 30%;
    right:11%;
    display:none;
  }
  .img-layer {
    width: auto;
    height: 205px;
    margin: 14px;
    /* margin: 10px 10px 10px 75px; */
  }

  #swf embed {
    width: 180px;
    height: 176px;
    margin: 10px 10px 10px 71px;

  }

}

/* 横向放置的手机和竖向放置的平板之间的分辨率 */
@media (min-width: 481px) and (max-width: 767px) {

  .left-part {
  }

  .right-part {
  }


  .span-img {
    display: none;
  }

  .img-3648 {
    width: 360px;
    height: 480px;
    margin: 10px 10px 10px 10px;
    cursor: pointer;
  }

  .span-sns {
    display: block;
    height: 40px;
    background-color: #ffffff;
    /* width: 380px; */
    margin-bottom: 20px;
    text-align: center;
    font-size: 200%;
  }

  .white {
    background-color: #ffffff;
    margin-bottom: 50px;
  }


  .content {
    margin-top: 90px;
  }

  .about {
    margin-left: 16px;
    margin-right: 16px;
  }

  .layer{
    width:500px;
    background: #ffffcc;
    position:fixed;
    _position:absolute;    /* 勉强应付 IE6 */
    top: 20%;
    right:11%;
    display:none;
  }
  .img-layer {
    width: auto;
    height: 335px;
    margin: 14px;
    /* margin: 10px 10px 10px 75px; */
  }

  #swf embed {
    width: 480px;
    height: 500px;
    margin: 10px;
  }
}


/* 横向小屏与平板之间的分辨率 */
@media (min-width: 768px) and (max-width: 979px) {

  .left-part {
    margin-left: 2px;
    float: left;
  }

  .right-part {
    margin-right: 2px;
    float: right;
  }


  .span-img {
    display: none;
  }

  .img-3648 {
    width: 180px;
    height: 240px;
    margin: 10px 10px 10px 10px;
    cursor: pointer;
  }

  .span-sns {
    display: block;
    height: 40px;
    width: 200px;
    background-color: #ffffff;
    margin-bottom: 20px;
    text-align: center;
    font-size: 200%;
  }
  .white {
    background-color: #ffffff;
    width: 545px;
    height: 921px;
  }


  .content {
    margin-top: 90px;
    width: 768px;
    margin-left: auto;
    margin-right: auto;
  }

  .about {
    height: 700px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: -50px;
  }

  .layer{
    width:620px;
    background: #ffffcc;
    position:fixed;
    _position:absolute;    /* 勉强应付 IE6 */
    top:40%;
    right:50%;
    margin:-150px -300px 20px 20px;
    display:none;
  }
  .img-layer {
    width:600px;
    margin: 10px 10px 10px 10px;
  }
  #swf embed {
    width: 500px;
    height: 500px;
    margin: 20px 20px 20px 61px;
  }

}

/* 大屏小屏之间的分辨率 */
@media (min-width: 980px) and (max-width: 1199px) {

  .left-part {
    margin-left: 2px;
    float: left;
  }

  .right-part {
    margin-right: 2px;
    float: right;
  }


  .span-img {
    display: block;
    background: #ffffff;
    width: 260px;
    height: 340px;
  }

  .img-3648 {
    width: 240px;
    height: 320px;
    margin: 10px 10px 10px 10px;
    cursor: pointer;
  }

  .span-sns {
    display: block;
    height: 40px;
    width: 260px;
    background-color: #ffffff;
    margin-bottom: 20px;
    text-align: center;
    font-size: 200%;
  }
  .white {
    background-color: #ffffff;
    width: 693px;
    height: 921px;
  }


  .content {
    margin-top: 90px;
    width: 980px;
    margin-left: auto;
    margin-right: auto;
  }

  .about {
    height: 700px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: -50px;
  }

  .layer{
    width:620px;
    background: #ffffcc;
    position:fixed;
    _position:absolute;    /* 勉强应付 IE6 */
    top:40%;
    right:50%;
    margin:-150px -300px 20px 20px;
    display:none;
  }
  .img-layer {
    width:600px;
    margin: 10px 10px 10px 10px;
  }
  #swf embed {
    width: 500px;
    height: 500px;
    margin: 20px 20px 20px 61px;
  }

}
