/*
 *font example
 *font-family: 'Sarina', cursive;
 *font-family: 'Lily Script One', cursive;
 *font-family: 'Source Code Pro', sans-serif;
 */

.lily {
  font-family: 'Lily Script One', cursive;
}

.lily a {
  color: #000000;
}

body {
  background-color: #dddddd;
}

a:link,visited{
  text-decoration:none;
}
a:hover{
  text-decoration:underline;
}

#name {
  cursor: pointer;
}

.container {
  margin-right:auto;
  margin-left:auto;
  margin-top:0;
  *zoom:1
}

#banner {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: block;
  margin-bottom:0px;
  background-color: #3d4349;
}

#zhwei {
  font-size: 150%;
  color: #ffffff;
  float: right;
  margin-top: 0px;
  margin-right:20px;
  font-family: 'Lily Script One', cursive;
}

#zhwei p {
  margin-top: 10px;
  margin-bottom: 10px;
}
#zhwei a {
  color: #ffffff;
}
#zhwei a:link,visited{
  text-decoration:none;
  color: #ffffff;
}
#zhwei a:hover{
  text-decoration:none;
  color: #99ff99;
}

.layer{
  width:620px;
  background: #ffffcc;
  position:fixed;
  _position:absolute;    /* 勉强应付 IE6 */
  top:50%;
  right:50%;
  margin:-150px -300px 0 20px;
  display:none;
}
.img-layer {
  width:600px;
  margin: 10px 10px 10px 10px;
}
.close{
  background-image: url("../img/close.png");
  position:absolute;
  top: -8px;
  right: -8px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  z-index: 8040;
}

#swf embed {
  width: 500px;
  height: 500px;
  margin: 20px 20px 20px 61px;
}


.title {
  font-size: 50px;
  font-family: 'Source Code Pro', sans-serif;
  text-align: center;
}

/* 大屏幕 */
@media (min-width: 1200px) {

  .left-part {
    margin-left: 20px;
    float: left;
  }

  .right-part {
    margin-right: 20px;
    float: right;
  }


  .span-img {
    display: block;
    background: #ffffff;
    width: 380px;
    height: 500px;
  }

  .img-3648 {
    width: 360px;
    height: 480px;
    margin: 10px 10px 10px 10px;
    cursor: pointer;
  }

  .span-sns {
    display: block;
    height: 40px;
    width: 380px;
    background-color: #ffffff;
    margin-bottom: 20px;
    text-align: center;
    font-size: 200%;
  }
  .white {
    background-color: #ffffff;
    width: 821px;
    height: 921px;
  }


  .content {
    margin-top: 90px;
  }

  .about {
    height: 700px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: -50px;
  }

}

/* 横向放置的手机及分辨率更小的设备 */
@media (max-width: 480px) {

  .left-part {
    /*
    margin-left: 20px;
    float: left; */
  }

  .right-part {
    /* margin-right: 20px;
    float: right; */
  }


  .span-img {
    display: none;
    background: #ffffff;
    width: 380px;
    height: 500px;
  }

  .img-3648 {
    width: 360px;
    height: 480px;
    margin: 10px 10px 10px 10px;
    cursor: pointer;
  }

  .span-sns {
    display: block;
    height: 40px;
    width: 380px;
    background-color: #ffffff;
    margin-bottom: 20px;
    text-align: center;
    font-size: 200%;
  }

  .white {
    background-color: #ffffff;
    /*
    width: 821px;
    height: 921px; */
  }


  .content {
    margin-top: 90px;
  }

  .about {
    height: 700px;
   /*  margin-top: -50px; */
    margin-left: 16px;
    margin-right: 16px;
  }


}
